a 
{
	color: #00f;
	text-decoration: none;
}

footer {
    text-align: center;
    font-size: 12px;
}

h1 {
    text-align: center;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    height: auto;
}

th {
    border: 1px solid black;
    height: 30px;
    align-content: center;
}

.search {
    height: 60px;
}

#numOrderSearch, #vlan_id {
    width: 50px;
    align-content: center;
    margin-left: 4px;

}

#numOrderSearchButton {

}

td {
    border: 1px solid black;
    text-align: center;
}

#nothingSearch {
    font-size: 30px;    
}

#entriesFound {
    height: 15px;
}

#addTable {
    height: auto;
}

.addForm {
    width: 105px;
    align-content: center;
    margin-left: 4px;

}

#addNumOrder {
    width: 35px;
}

#addVlanId {
    width: 35px;
}

#addCommentary {
    width: 170px;
    
}

.bold {
    font-weight: bold;
    color: red;
}

.italic {
    font-style: italic;
}

.small {
    font-size: 11px;
}

.login {
    width: 120px;
}

.loginText {
    width: 180px;
}

.addError {
    font-weight: bold;
    color: red;
    font-size: 20px;
    text-align: center;
    
}

.motd {
    width: 500px;
    height: 200px;    
}

.deleteOldLogs {    
    float: right;   
}

.viewUsers {
    width: auto;
    text-align: center;    
}