footer {
    text-align: center;
    font-size: 12px;
}

h1 {
    text-align: center;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    height: 700px;
}

th {
    border: 1px solid black;
    height: 30px;
    align-content: center;
}

.search {
    height: 60px;
}

#numOrderSearch, #vlan_id {
    width: 50px;
    align-content: center;
    margin-left: 4px;

}

#numOrderSearchButton {

}

td {
    border: 1px solid black;
    text-align: center;
}

#nothingSearch {
    font-size: 30px;    
}

#entriesFound {
    height: 15px;
}

#addTable {
    height: auto;
}

#numOrderAdd {
    width: 50px;
    align-content: center;
    margin-left: 4px;

}

#tarifAdd, #ip_addressAdd {
    width: 100px;
}